{% extends "/html/base_template.html" %}

{% block base_title %}
<title>Jacob - Login</title>
{% endblock base_title%}

{% block base_links %}
<link rel='stylesheet' type="text/css" href='/static/css/login.css'/>
<script type="text/javascript" src="/static/js/login.js"></script>
{% endblock base_links%}


{% block base_body %}
<div class="container" style="padding-top: 3em">
    <div class="row col-centered-50">
        <form action="/login/signin" method="POST" enctype="multipart/form-data" style="min-width: 20%">
            <div class="form-group">
                <label for="login-username" class="col-sm-1.4 col-form-label">Username</label>
                <div>
                    <input type="text" required class="form-control {% if invalid_cridentials %} is-invalid {% endif %}"
                           id="login-username" aria-describedby="usernameHelp" name="username" placeholder="Username">
                    <small id="username-help" class="form-text text-muted">Username is typically your university UPI.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label for="login-password" class="col-form-label">Password</label>
                <div>
                    <input type="password" required
                           class="form-control {% if invalid_cridentials %} is-invalid {% endif %}"
                           id="login-password" name="password" placeholder="Password">
                    <small id="password-help" class="form-text text-muted">Your password is never stored.</small>
                </div>
                {% if invalid_cridentials %}
                <div class="">
                    <small id="passwordHelp" class="text-danger">
                        Invalid Username or Password.
                    </small>
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="login-second-key" class="col-form-label">
                    <select name="key_type" id="key_type" class="btn dropdown-toggle col-form-label"
                            onchange="changeLoginOption(this)">
                        <option name="encryption_key">Encryption Key</option>
                        <option name="private_key">Private Key</option>
                    </select>
                </label>
                <div>
                    <input type="password" class="form-control {% if private_key_error %} is-invalid {% endif %}"
                           id="login-second-key" name="key_value" required placeholder="Key">
                    <input type="checkbox" id="show-password-checkbox" onclick="showPasswords(this)">Show Passwords
                    <small id="second-key-help" class="form-text text-muted">
                        This is what you used to encrypt your data.
                    </small>
                </div>
                {% if private_key_error %}
                <div class="">
                    <small id="secondHelp" class="text-danger">
                        That key could not be authenticated.<br/>
                        Please try again or go to forgot my password.
                    </small>
                </div>
                {% endif %}
            </div>

            <div class="col-centered-100">
                <button type="submit" class="btn btn-primary btn-block">Login
                </button>
                {% if server_down %}
                <small id="server_down_message">
                    Unfortunately it appears the login server<br/>
                      is unavailable
                </small>
                {% elif something_went_wring %}
                <small id="something_went_wrong_message" class="">
                    Looks like something went wrong
                </small>
                {% elif api_key_error %}
                <small id="api_key_error_message" class="text-danger">
                    There was an issue retrieving a new api_key.
                </small>
                {% elif private_data_error %}
                <small id="private_data_error_error_message" class="text-danger">
                    Your private data could not be decrypted.<br/>
                    Try again, or go to forgot my password.
                </small>
                {% elif key_missmathch %}
                <small id="key_missmathch_error_error_message" class="text-danger">
                    Public / private key mismatch.<br/>
                    Go to forgot my password for more details.
                </small>
                {% elif api_key_expired %}
                <small id="api_key_expired_error_message" class="text-danger">
                    It looks like your api key has expired.<br/>
                    Please only log into 1 device per account.
                </small>
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock base_body%}
