{% extends "/html/base_template.html" %}

{% block base_title %}
<title>Jacob - Login</title>
{% endblock base_title%}

{% block base_links %}
<link rel='stylesheet' type="text/css" href='/static/css/login.css'/>
<script type="text/javascript" src="/static/js/login.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% endblock base_links%}


{% block base_body %}
<div class="container justify-content-center mx-xg-5 px-lg-5">
    <div class="flex-column mt-3">
        <form action="/login/signin" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div class="row mb-lg-3 mb-2">
                <div class="col">
                    <label for="login-username">Username</label>
                    <input type="text" required class="form-control" id="login-username" name="username"
                           placeholder="Username" aria-describedby="username-help">
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                    <small id="username-help" class="form-text text-muted flex-wrap">Username is typically your
                        university
                        UPI.
                    </small>
                </div>
            </div>

            <div class="row mb-lg-3 mb-2">
                <div class="col">
                    <label for="login-password">Password</label>
                    <input type="password" required class="form-control" id="login-password" name="password"
                           placeholder="Password" aria-describedby="password-help">
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                    <small id="password-help" class="form-text text-muted flex-wrap">Your password is never stored.
                    </small>
                    {% if invalid_cridentials %}
                    <small id="passwordHelp" class="form-text text-danger flex-wrap">Invalid Username or
                        Password.
                    </small>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-lg-3 mb-2">
                <div class="col">
                    <select class="form-control" id="key_type" name="key_type" onchange="changeLoginOption(this)">
                        <option name="encryption_key">Encryption Key</option>
                        <option name="private_key">Private Key</option>
                    </select>
                    <div class="row mb-lg-3 mb-2"></div>
                    <input type="password" class="form-control {% if private_key_error %} is-invalid {% endif %}"
                           id="login-key" name="key_value" required placeholder="Key">
                    <div class="invalid-feedback">
                        {% if private_key_error %}
                        That key could not be authenticated. Please try again or go to forgot my password.
                        {% else %}
                        Please provide a key.
                        {% endif %}
                    </div>
                    <small id="login-key-help" class="form-text text-muted flex-wrap">This is what you used to
                        encrypt your data.
                    </small>
                </div>
            </div>

            <div class="row mb-lg-3 mb-2">
                <div class="col">
                    <input type="checkbox" id="show-password-checkbox" onclick="showPasswords(this)">Show Passwords
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" id="login-button" class="btn btn-primary btn-block">
                        Login
                    </button>
                </div>
            </div>

            <div class="row mb-lg-3 mb-2">
                <div class="col">
                    {% if server_down %}
                    <small id="server_down_message" class="text-info flex-wrap">Unfortunately it appears the login
                        server
                        is unavailable.
                    </small>
                    {% elif something_went_wring %}
                    <small id="something_went_wrong_message" class="text-muted flex-wrap">
                        Looks like something went wrong
                    </small>
                    {% elif api_key_error %}
                    <small id="api_key_error_message" class="text-danger flex-wrap">
                        There was an issue retrieving a new api_key.
                    </small>
                    {% elif private_data_error %}
                    <small id="private_data_error_error_message" class="text-danger flex-wrap">
                        Your private data could not be decrypted. Try again, or go to forgot my password.
                    </small>
                    {% elif key_missmathch %}
                    <small id="key_missmathch_error_error_message" class="text-danger flex-wrap">
                        Public / private key mismatch. Go to forgot my password for more details.
                    </small>
                    {% elif api_key_expired %}
                    <small id="api_key_expired_error_message" class="text-danger flex-wrap">
                        It looks like your api key has expired. Please only log into 1 device per account.
                    </small>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

    <div>
        <br/>
    </div>

    <div class="row mb-lg-3 mb-2 ">
        <form action="/login/overwrite_private_data" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate style="width: 100%">

            <div class="col">
                <div class="text-center">
                    <span style="width: 100%"><u>Create new key and encryption key</u></span><br/>
                    <span style="width: 100%"><u>Warning. This will overwride your private data and and another key to your account</u></span>
                    {% if new_pass_error %}
                    <br/><span style="width: 100%">Unfortunatly something went wrong when creating your new key</span>
                    {% elif new_pass_sucess %}
                    <br/><span style="width: 100%">Sucess! Try logging in with this new encryption key</span>
                    {% endif %}
                </div>
                <br/>
                <label for="new-login-username">Username</label>
                <input type="text" required class="form-control" id="new-login-username" name="username"
                       placeholder="Username" aria-describedby="username-help">
                <br/>
                <label for="new-login-password">Password</label>
                <input type="password" required class="form-control" id="new-login-password" name="password"
                       placeholder="Password" aria-describedby="new-password-help">
                <br/>
                <label for="new-encryption-key">Username</label>
                <input type="text" required class="form-control" id="new-encryption-key" name="new_key" style="width: 100%"
                       placeholder="New Encryption Key" aria-describedby="create-new-password-help">
                <br/>
                <div>
                    <button style="width: 100%" type="submit" id="overwrite-button" class="btn btn-danger btn-block">
                        Create New Key and Private Data
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock base_body%}
