{% macro display_broadcast(broadcasts, isBroadcast) -%}
{% for broadcast in broadcasts -%}
<div class="card mr-4 mb-4" id="message-number-{{broadcast['id']}}" data-message-id="{{broadcast['id']}}"
     style="width: 100%;">
    <div class="card-body mb-0 pb-0">
        <h5 class="card-title">
            {{ broadcast['sender'] }}
        </h5>
        <p class="card-text pb-0" style="overflow-y: auto; max-height: 50vh;">
            {{ broadcast['message'] }}
        </p>
        <p class="card-text">
            <small class="text-muted"> {{ broadcast['timestamp'] }}</small>
        </p>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between flex-wrap" style="width: 100%">
                <div class="">
                    {% if isBroadcast %}
                    {% if broadcast['liked'] -%}
                    <i class="fa fa-heart"></i>
                    {% else -%}
                    <i class="fa fa-heart-o"></i>
                    {%- endif %}
                    <button class="btn btn-outline-secondary btn-sm my-2 my-sm-0 ml-1 mr-3"
                            data-parent-id="{{ broadcast['id'] }}" onclick="likeMessage(this)">Favorite</button>
                    {% endif %}
                </div>
                <div class="text-center">
                    <button data-parent-id="{{ broadcast['id'] }}" class="btn btn-outline-info btn-sm my-2 my-sm-0"
                            onclick="convertAllMessagesToMd(this)">Convert Markdown
                    </button>
                </div>
                <div class="">
                    {% if isBroadcast %}
                    <i class="fa fa-ban "></i>
                    <button href="#" class="btn btn-outline-danger btn-sm my-2 my-sm-0 ml-1 mr-3"> Block</button>
                    {% endif %}
                </div>
        </div>
    </div>
</div>
{% endfor %}
{%- endmacro%}