{% extends "/html/post_login_template.html" %}

{% block base_title %}
<title>{{ username }} - Feed</title>
{% endblock base_title%}

{% block post_login_links -%}
<link rel='stylesheet' type="text/css" href='/static/css/feed.css'/>
<script src="/static/js/feed.js"></script>
{% endblock post_login_links %}

{% block post_login_body -%}

<div class="jumbotron m-0 p-0 bg-transparent">

    <div class="row m-0 p-0 position-relative">
        <div class="col-12 p-0 m-0 position-absolute">
            <div class="card border-0 rounded"
                 style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 6px 10px 0 rgba(0, 0, 0, 0.01); overflow: hidden; height: 100vh;">


                <div class="card bg-sohbet border-0 m-0 p-0" style="height: 100vh;">
                    <div id="sohbet" class="card border-0 m-0 p-0 position-relative bg-transparent"
                         style="overflow-y: auto; height: 100vh;">

                        <div class="balon1 p-2 m-0 position-relative" data-is="You - 3:20 pm">

                            <a class="float-right"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aliquid blanditiis consequatur, cupiditate deserunt dicta enim eos facilis</a>

                        </div>

                        <div class="balon2 p-2 m-0 position-relative" data-is="Yusuf - 3:22 pm">

                            <a class="float-left sohbet2">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Architecto esse eum ex exercitationem expedita fugiat id impedit quas qui
                                quod. </a>
                        </div>

                        <div class="balon2 p-2 m-0 position-relative" data-is="Yusuf - 3:22 pm">

                            <a class="float-left sohbet2">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Architecto esse eum ex exercitationem expedita fugiat id impedit quas qui
                                quod. </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock post_login_body -%}



        <div class="jumbotron m-0 p-0 bg-transparent">
            <div class="row m-0 p-0 position-relative">
                <div class="col-12 p-0 m-0 position-absolute">
                    <div class="card border-0 rounded"
                         style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 6px 10px 0 rgba(0, 0, 0, 0.01); overflow: hidden; height: 100vh;">


                        <div class="card bg-sohbet border-0 m-0 p-0" style="height: 100vh;">
                            <div id="sohbet" class="card border-0 m-0 p-0 position-relative bg-transparent"
                                 style="overflow-y: auto; height: 100vh;">

                                <div class="balon1 p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                    <a class="float-right"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Aliquid blanditiis consequatur, cupiditate deserunt dicta enim eos facilis</a>
                                </div>

                                <div class="balon2 p-2 m-0 position-relative" data-is="Yusuf - 3:22 pm">
                                    <a class="float-left sohbet2">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Architecto esse eum ex exercitationem expedita fugiat id impedit quas qui
                                        quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                        cum deleniti dolorem ea et, explicabo facilis fuga harum ipsa laboriosam nam,
                                        non nostrum officiis quam recusandae ut voluptates. Distinctio dolore, fugit
                                        laudantium optio quasi rem sapiente similique velit veniam voluptatibus. </a>
                                </div>

                                <div class="balon2 p-2 m-0 position-relative" data-is="Yusuf - 3:22 pm">
                                    <a class="float-left sohbet2">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Architecto esse eum ex exercitationem expedita fugiat id impedit quas qui
                                        quod. </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>









<div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <section class="post-heading">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="media">
                                    <div class="media-left">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="anchor-username"><h4 class="media-heading">Bayu
                                            Darmantra</h4></a>
                                        <a href="#" class="anchor-time">51 mins</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <section class="post-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                            turpis sem, dictum id bibendum eget, malesuada ut massa. Ut scel
                            erisque nulla sed luctus dapibus. Nulla sit amet mi vitae purus sol
                            licitudin venenatis. Praesent et sem urna. Integer vitae lectus nis
                            l. Fusce sapien ante, tristique efficitur lorem et, laoreet ornare lib
                            ero. Nam fringilla leo orci. Vivamus semper quam nunc, sed ornare magna dignissim sed.
                            Etiam interdum justo quis risus
                            efficitur dictum. Nunc ut pulvinar quam. N
                            unc mollis, est a dapibus dignissim, eros elit tempor diam, eu tempus quam felis eu
                            velit.</p>
                    </section>
                    <section class="post-footer">
                        <hr>
                        <div class="post-footer-option container">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Block</a></li>
                            </ul>
                        </div>

                    </section>
                </div>
            </div>
        </div>